#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1100px;
}

.count-btn {
    padding: 1rem 2rem;
    margin: 1rem;
}

h1 {
    text-align: center;
}